input[type="range"] {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1;
  height: 2em;
  background-color: transparent;
  cursor: pointer;
  -webkit-appearance: none;
  width: 100%;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1.3em;
  height: 1.3em;
  margin-top: 0;
  background-color: rgba(#833471, 1);
  border-radius: 1em;
  border: 2px solid rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
input[type="range"]::-moz-range-thumb {
  width: 2em;
  height: 2em;
  margin-top: 0;
  background-color: rgba(#833471, 0.9);
  border-radius: 1em;
  border: 2px solid rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
input[type="range"]::-ms-thumb {
  width: 2em;
  height: 2em;
  margin-top: 0;
  background-color: rgba(#833471, 0.9);
  border-radius: 1em;
  border: 2px solid rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
input[type="range"]:hover::-webkit-slider-thumb {
  border-color: rgba(255, 255, 255, 0.7);
}
input[type="range"]:hover::-moz-range-thumb {
  border-color: rgba(255, 255, 255, 0.7);
}
input[type="range"]:hover::-ms-thumb {
  border-color: rgba(255, 255, 255, 0.7);
}
input[type="range"]:active::-webkit-slider-thumb {
  border-color: #ffffff;
}
input[type="range"]:active::-moz-range-thumb {
  border-color: #ffffff;
}
input[type="range"]:active::-ms-thumb {
  border-color: #ffffff;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  cursor: pointer;
  height: 0.8em;
  border-bottom: 1.4px solid #833471;
  background-color: transparent;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  cursor: pointer;
  height: 1em;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  background-color: transparent;
}
input[type="range"]::-ms-track {
  background: transparent;
  border-color: transparent;
  color: transparent;
}
